<!DOCTYPE html>
<html>
  <title>Turning</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta http-equiv="refresh" content="5" > -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="static/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/main.css">

<style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
    
    <body class="w3-light-grey", onload="update_values;">
    
    <!-- Top container -->
    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
      <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
      <span class="w3-bar-item w3-right"></span>
    </div>
    
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar">
      <div class="w3-container">
      <br>
        <h5><b><i class="fa fa-dashboard"></i>Dashboard</b></h5>
      </div>
      <div class="w3-bar-block">
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-white w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
        <a href="/overview" class="w3-bar-item w3-button w3-padding"><i class="fa fa-calendar"></i> Incubator Period and Schedules</a>
        <a href="/humid_temp" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bar-chart"></i> Humidity and Temperature</a>
        <a href="/cleaning" class="w3-bar-item w3-button w3-padding"><i class="fas fa-broom"></i> Cleaning</a>
        <a href="/candling" class="w3-bar-item w3-button w3-padding"><i class="fa fa-camera"></i> Candling</a>
        <a href="#my-header" class="w3-bar-item w3-button w3-padding"><i class="fa fa-refresh"></i> Turning</a>
        <a href="/solar" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bolt"></i> Solar</a>
        <a href="#my-footer" class="w3-bar-item w3-button w3-padding"><i class="fa fa-info-circle"></i> Description</a>
        <a href="{{ url_for('login') }}">Logout</a>
      </div>
    </nav>
    <div class="container page-container">
      {% with message = get_flashed_messages()  %} 
        {% if message %}
          {% for msg in message %}
            {% if category =='error' %}
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
              {{ msg }}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% else %}
            <div class="alert alert-success alter-dismissable fade show" role="alert">
              {{ msg }}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <div class="container">{% block content %} {% endblock %}</div>
    
    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
    
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:20px;">
    
      <!-- Header -->
      <header id="my-header" class="w3-container" style="padding-top:10px">
        <h5><i class="fa fa-refresh"></i><b> Turning</b></h5>
      </header>
      <script src=" "></script>
      <script type="text/javascript">
    
    </script>
    
    <style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
      
    .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
      
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
      
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
      
    input:checked + .slider {
        background-color: #2196F3;
    }
      
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
      
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
      
      /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
      
      .slider.round:before {
        border-radius: 50%;
      }
    
      html {
      scroll-behavior: smooth;
      }
    </style>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        var turningSwitch = document.querySelector("#turning-switch");
        // Add an event listener to detect the switch state change
        turningSwitch.addEventListener("change", function() {
          // Get the current state of the switch
          var isTurningOn = turningSwitch.checked;
          // Display a notification based on the switch state
          if (isTurningOn) {
            showNotification("Turning is ON");
          } else {
            showNotification("Turning is OFF");
          }
        }); 
      
        // Function to display a notification (you can customize this based on your needs)
        function showNotification(message) {
          // You can use browser notifications or any other custom notification method
          alert(message);
        }
    });
    </script>

    <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
        <div class="w3-container w3-white w3-hover-shadow w3-border-brown w3-bottombar w3-padding-16">
        <div class="w3-left"><img src="/static/images/turning.png"></div>
        <div class="w3-right">
        <!-- Password input field -->
        <input type="password" id="passwordInput" placeholder="Enter Password">
        <!-- Submit button to check the password -->
        <button onclick="checkPassword()">Submit</button>
        <!-- Switch/slider will be disabled initially -->
        <label class="switch" id="switchturning" style="pointer-events: none;">
            <input type="checkbox" id="turning-switch" disabled>
            <span class="slider round"></span>
        </label>
        </div>
        <div class="w3-clear"></div>
        <h4>Turning</h4>
        </div>
    </div>
    </div>
    <script>
        function checkPassword() {
            // Replace 'yourPassword' with the actual password you want to use
            var enteredPassword = document.getElementById("passwordInput").value;
            var correctPassword = "admin";
    
            // Check if the entered password is correct
            if (enteredPassword === correctPassword) {
                alert("Password is correct, turning is ready to on/off");
                document.getElementById("turning-switch").removeAttribute("disabled");
                document.getElementById("switchturning").style.pointerEvents = "auto";
                
            } else {
                alert("Incorrect password. Please try again.");
            }
        }
    </script>
</body>
<footer id="my-footer">
        <div class="w3-container">
          <h5><i class="fa fa-info-circle"></i><b> Description</b></h5>
        </div>
        <div class="w3-row-padding w3-white w3-border-green w3-margin-left w3-leftbar" style="margin:0 -16px">
          <div class="w3-third w3-padding-16">
            <img src="/static/images/trees.svg" style="width:50%" alt="">
          </div>
          <div class="w3-twothird">
            <h5><b>Incubation</b></h5>
            <style>
              p {
                font-family: "Your Chosen Font", sans-serif;
              }
            </style>
            <p>
              The Automated Egg Incubator with AI and IoT aims to construct an intelligent smart incubator that limits human interaction in the incubation cycle to meet protein needs. In which farmers who have incubators face low productivity due to poor performance in their hatcheries that have human beings monitoring and controlling processes in incubation. Minimizing human contact in incubation can boost the income levels of smallholder farmers. Remote monitoring and control of the egg incubator parameters from a distant location may be cost-effective and efficient for bird reproduction in modern times. The abundant solar resources can eliminate the challenge of low access rates and unreliable power supply farmers face and guarantee income from hatcheries.
            </p>
          </div>
        </div>
      <br>
      <div class="w3-container w3-dark-grey w3-padding-32">
        <div class="w3-row">
          <div class="w3-container w3-third">
            <h5 class="w3-bottombar w3-border-green">Create by</h5>
           <h6>PCEIT-03-701E</h6>
           <h7>Class of 2022-2023</h7>
          </div>
          <div class="w3-container w3-third">
            <h5 class="w3-bottombar w3-border-red">Guided by</h5>
            <h6>Master Engineer Ronel Paglomutan</h6>
          </div>
          <div class="w3-container w3-third">
            <h5 class="w3-bottombar w3-border-orange">References</h5>
            <h6></h6>
          </div>
        </div>
      </div>
    
    <script>
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");
    
    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");
    
    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
      if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
      } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
      }
    }
    
    // Close the sidebar with the close button
    function w3_close() {
      mySidebar.style.display = "none";
      overlayBg.style.display = "none";
    }
    </script>
    <script src="/static/JS/chart_data.js"> </script>
</footer>
</html>